.uni_main {
    padding: 100px 9.375% 117px 9.375%;

    &_slider {
        .swiper{
            .swiper-pagination{
                bottom:220px;
                margin: 0 auto;
                .swiper-pagination-bullet{
                    width: 17px;
                    height: 17px;
                    background-color: transparent;
                    border: 2px solid white;
                    z-index: 1000;
                }
                .swiper-pagination-bullet-active{
                    background-color: white;
                }
            }
        }
        &_swiper {
            &_head {
                font-family: 'Averta';
                font-size: 30px;
                font-weight: 800;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;

            }

            &_img {
                margin: 60px 0;

            }
                &_text {
                    font-family: 'Averta Demo';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    p{
                     width: 650px;   
                    }
                }
        }

    }

    &_up {
        margin-bottom: 100px;
        &_head {
            margin-bottom: 20px;
            h1 {
                font-family: 'Averta';
                font-size: 60px;
                font-weight: 800;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: left;
                
                span {
                    color: #F99400;
                }
            }
        }

        &_text {
            font-family: 'Averta Demo';
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
            color: #070814;

        }
    }
}